{% extends 'base.html' %}
{% block main_content %}

 <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div class="container-fluid bg-2 text-center text-black-50">
    <div class="card-deck">
        {% for scenario in scenarios %}
           <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ scenario.title}}</h5>
                <p class="card-text">{{ scenario.description}}</p>
                <a href="#" class="btn btn-primary">View scenario</a>
              </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}