<link rel="shortcut icon" type="image/jpg" href="../static/assets/cyberresearch.jpg"/>

<!-- Styling -->
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap4.6.0.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/googlefonts_Montserrat.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
<link href="{{ url_for('static', filename='css/jquery-tagsinput.min.css') }}" rel="stylesheet" type="text/css">