<div id="injectGraph" class="border border-primary"></div>

<script>
    let injectData = {{ graphnodes|safe }};

    // create an array with edges
    let injectConnections = {{ graphedges|safe }};

    let network = renderNetwork('injectGraph', injectData, injectConnections);

    network.on('click', function (properties) {
        let ids = properties.nodes;
        let injects = new vis.DataSet(injectData);
        let clickedNodes = injects.get(ids);
        let clickedNode = clickedNodes[0];
        let url = '{{ url_for("injects.get_inject_details", scenario_id=scenario.scenario_id) }}';
        url += '?inject_slug=' + clickedNode["slug"];
        renderInjectDetails(url);
    });
</script>