{% from 'helpers/_form_helpers.html' import render_field %}


<form action="{{ url_for('scenarios.save_scenario') }}" method="POST" class="form">
    <div class="modal-body">
                {{ render_field(core_form.title, class="form-control", data=scenario.title) }}

                {{ render_field(core_form.scenario_description, class="form-control", data=scenario.description) }}

                {{ render_field(core_form.learning_objectives, class="form-control", data=scenario.learning_objectives) }}
            </div>
            <div class="col">
                {{ render_field(core_form.target_group, class="form-control", data=scenario.target_group) }}

                {{ render_field(core_form.required_knowledge, class="form-control", data=scenario.required_knowledge) }}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-save"></i>Save Changes
        </button>
    </div>
</form>