{% extends "scenario_tab_details.html" %}
{% from 'helpers/_form_helpers.html' import render_field %}

{% block details_content %}
    <form action="{{ url_for('scenarios.save_scenario') }}" method="POST" class="form">
        <div class="row">
            <div class="col-sm">
                {% if scenario.scenario_id %}
                    {{ core_form.scenario_id(value=scenario.scenario_id) }}
                {% endif %}
                {{ core_form.csrf_token() }}
                {{ render_field(core_form.title, class="form-control", data=scenario.title) }}

                {{ render_field(core_form.scenario_description, class="form-control", data=scenario.description) }}

                {{ render_field(core_form.learning_objectives, class="form-control", data=scenario.learning_objectives) }}
            </div>
            <div class="col-sm">
                {{ render_field(core_form.target_group, class="form-control", data=scenario.target_group) }}

                {{ render_field(core_form.required_knowledge, class="form-control", data=scenario.required_knowledge) }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-save"></i>Save Changes
        </button>
        <a href="{{ url_for('scenarios.delete_scenario', scenario_id=scenario.scenario_id) }}" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i>Delete Scenario
        </a>
    </form>

{% endblock %}