{% extends 'scenario_tab_details.html' %}

{% block details_content %}
    <div class="container-fluid ">
        <div class="row">
            <div class="col-sm-5 text-white-50">
                {% include 'injects_graph.html' %}
            </div>
            <div class="col-sm-7">
                <button class="btn btn-secondary" onclick="network.fit()">Render Injects Graph</button>
                <button class="btn btn-primary" onclick="showFormModal('#create-inject-form-modal',
                    '{{ url_for("injects.get_inject_modal", scenario_id=scenario.scenario_id) }}')">
                    New inject</button>
                <hr/>
                <div id="inject-details">
                    <div class="remote-content">
                        <!-- will be populated, once an inject is selected from the graph -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="create-inject-form-modal">
        <div class="modal-dialog" role="document">
            <div id="variable-modal-content" class="modal-content">
                {% include 'forms/injects_modal_form.html' %}
            </div>
        </div>
    </div>

{% endblock details_content %}