{% extends 'scenario_tab_details.html' %}
{% from '/helpers/_graph_helpers.html' import render_injects_graph %}

{% block details_content %}
    <div class="container-fluid ">
        <div class="row">
            <div class="col-sm-5 text-white-50">
                {{ render_injects_graph(nodedata=graphnodes, edgedata=graphedges, scenario=scenario) }}
            </div>
            <div class="col-sm-7">
                <button class="btn btn-primary" onclick="showFormModal('#create-inject-form-modal',
                        '{{ url_for("injects.get_inject_modal", scenario_id=scenario.scenario_id) }}')">
                    New inject
                </button>
                <hr/>
                <div id="inject-details">
                    <div class="remote-content">
                        <!-- will be populated, once an inject is selected from the graph -->
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% include 'forms/injects_modal_form.html' %}


{% endblock details_content %}