{% extends 'base.html' %}

{# requires a Game object #}

{% block main_content %}
    {% set game_url = url_for('games.group_game', game_id=game.game_id, _external=True) %}
    <div class="container-fluid bg-3 text-center text-white-50">
        <h3 class="h3">{{ game.name }}</h3>
        <p>{{ game.scenario.scenario_description }}</p>
        <div class="row align-items-center justify-content-center">
            <div class="container-fluid bg-white text-black-50">
                <h4 class="h4">Game URL</h4>
                <p>Please copy this link and share this with the participants of your training!</p>
                <div class="input-group mb-3">
                    <label id="url-label" for="url-input" class="sr-only">Game URL
                    </label>
                    <input type="text" class="form-control" id="url-input" value="{{ game_url }}" disabled>
                    <div class="input-group-append">
                        <button type="button" class="input-group-text btn btn-primary"
                                onclick="copyToClipboard('{{ game_url }}')"><i class="far fa-copy"></i></button>
                    </div>
                </div>
                <hr/>
                <div class="row align-items-center justify-content-center">
                    <a href="{{ url_for('facilitation.start_game', game_id=game.game_id) }}"
                       class="btn btn-primary" title="Facilitate this Game">
                        <i class="fas fa-play"></i> Start Game
                    </a>
                    <a href="{{ url_for('facilitation.close_game', game_id=game.game_id) }}"
                       class="btn btn-danger" title="Abort this Game">
                        <i class="fas fa-times-circle"></i> Abort Game
                    </a>
                </div>
                <hr/>
                <h3 class="h3">Participants<i class="fas fa-info-circle"
                                              data-toggle="tooltip"
                                              title="These participants have already joined the lobby of your game!"></i>
                </h3>

            </div>
        </div>
    </div>


{% endblock %}