{% extends 'base_game.html' %}
{% block inject %}

 <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div class="container bg-white text-black-50">
    {% block transition %}
    {% endblock %}
</div>
    <div class="row">
        <div class="col-10"></div>
        <a href="{{url_for('games.stats_page', game_id=game.game_id, inject_slug=inject.slug)}}"
           class="btn btn-primary"><i class="fas fa-chart-line"></i>KPIs and Variables</a>
    </div>

{% endblock %}