{% extends 'base_game.html' %}
{% block headings %}
    {{ super() }}
    <meta http-equiv="refresh" content="3">
    <script src="{{ url_for('static', filename='js/custom_charts.js') }}"></script>
{% endblock %}

{% block inject %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <h3 class="h3">{{ inject.label }}</h3>
                <p>{{ inject.text }}</p>
                {% if inject.has_choices %}
                <ul class=>
                    {% for choice in inject.choices %}
                    <li><small>{{ choice.label }}</small></li>
                    {% endfor %}
                </ul>
            {% endif %}
                <div class="row">
                    <script>
                        window.onload = function () {
                            getAnswerChart("injectFeedbackChart",
                                    "{{ url_for('api.solution_stats', game_id=game.game_id) }}", "pie");
                                //setInterval('getAnswerChart("injectFeedbackChart", ' +
                                //    '"{{ url_for('api.solution_stats', game_id=game.game_id) }}", "pie")', 5000);
                            }
                    </script>
                    <div id="injectFeedbackChart" style="height: 370px; width: 100%;"></div>
                    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                </div>
            {% if game.is_next_inject_allowed() %}
                <a href="{{ url_for('games.group_game', game_id=game.game_id) }}" class="btn btn-choice">Continue</a>
            {% else %}
                <h4 class="h4">Please wait until all participants have answered, before continuing.</h4>
            {% endif %}
            </div>
        </div>
    </div>

{% endblock %}