{% extends 'base.html' %}
{% from '/helpers/_detail_helpers.html' import render_participants %}

{# requires a Game object #}

{% block main_content %}
    {% set game_url = url_for('games.group_game', game_id=game.game_id, _external=True) %}
    <div class="container-fluid bg-3 text-center text-white-50">
        <h3 class="h3">{{ game.name }}</h3>
        <p>{{ game.scenario.scenario_description }}</p>
        <hr/>
    </div>
    <div class="container-fluid bg-white align-items-center justify-content-center text-center">
            <h3 class="h3">Welcome</h3>
        <p>Your strategic cyber security game will start shortly.</p>
        <p>{{ game.number_of_participants() - 1 }} other people have joined this game so far.</p>

    <hr/>
    </div>


{% endblock %}