{% extends 'base.html' %}

{% block headings %}
    {{ super() }}
{% endblock %}

{% block main_content %}

    <div class="container-fluid text-black-50 bg-blue">
    <a class="btn-block" href="{{ url_for('scenarios.show_scenarios') }}">&ltView Scenarios</a>
        <div class="row justify-content-center">
            <h2>{{ scenario.title }}</h2>
        </div>
        <br>

        <form action="{{ url_for('scenarios.save_scenario') }}" method="POST" class="form">
        <input type="hidden" id="scenario_id" name="scenario_id" value="{{ scenario.scenario_id }}"/>
            {% block body %}
            {% endblock %}
            <button type="submit" class="btn">
                <i class="fas fa-save"></i>Save Scenario</button>
        </form>
    </div>
{% endblock %}

{% block custom_script %}
    {{ super() }}
{% endblock custom_script %}