{% extends "scenario_details.html" %}
{% from 'helpers/_form_helpers.html' import render_field %}

{% block attributes %}open{% endblock %}

{% block details_summary %}Essentials{% endblock %}

{% block details_content %}
    <div class="row">
        <div class="col">

            {{ scenario_form.essentials_form.scenario_id }}

            {{ render_field(scenario_form.essentials_form.title, class="form-control") }}

            {{ render_field(scenario_form.essentials_form.scenario_description, class="form-control") }}

            {{ render_field(scenario_form.essentials_form.learning_objectives, class="form-control") }}
        </div>
        <div class="col">
            {{ render_field(scenario_form.essentials_form.target_group, class="form-control") }}

            {{ render_field(scenario_form.essentials_form.required_knowledge, class="form-control") }}
        </div>
    </div>


    <script>
        $(document).ready(function () {
            $('[data-role="tags-input"]').tagsInput();
        });
    </script>
{% endblock %}