{% extends 'base_scenario.html' %}
{% block body %}


            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="title">title</label>
                        <input class="form-control" type="text" id="title" name="title"
                               placeholder="new scenario" value="{{ scenario.title }}">
                    </div>
                    <div class="form-group">
                        <label for="description">description</label>
                        <textarea class="form-control" type="text" id="description" name="description"
                                  placeholder="this is a new scenario">{{ scenario.description }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="keywords">keywords</label>
                        <textarea class="form-control" type="text" id="keywords" name="keywords"
                                  placeholder="Some keywords to describe this scenario">{{ scenario.keywords }}</textarea>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="learning-objectives">learning objectives</label>
                        <textarea class="form-control" type="text" id="learning-objectives" name="learning-objectives"
                                  placeholder="These are scenario learning objectives">{{ scenario.learning_objectives }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="target-group">target group</label>
                        <textarea class="form-control" type="text" id="target-group" name="target-group"
                                  placeholder="Describe the target group of the scenario">{{ scenario.target_group }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="required-knowledge">Required Knowledge</label>
                        <textarea class="form-control" type="text" id="required-knowledge" name="required-knowledge"
                                  placeholder="The required knowledge for the scenario">{{ scenario.required_knowledge }}</textarea>
                    </div>
                </div>
            </div>

{% endblock %}