<div id="mynetwork" style="height:400px;width:400px"></div>

<script type="text/javascript">
    // create an array with nodes
    var injects = new vis.DataSet([
        {id: "introduction", x:1, y:1, label: "Introduction", text: "This is the first inject"},
        {id: "second-inject", x:2, y:1, label: "second-inject", title: "Second inject", text: "This is the second inject"},
        {id: "other-inject", x:3, y:1, label: "other-inject", title: "Other Inject", text: "This is a completely different inject"},
        {id: "fourth-inject", x:4, y:1, label: "fourth-inject", title: "Fourth Inject", text: "This is yet another inject"},
    ]);

    // create an array with edges
    var injectConnections = new vis.DataSet([
        {from: "introduction", to: "second-inject", arrowhead: "arrow"},
        {from: "introduction", to: "other-inject"},
        {from: "second-inject", to: "other-inject"},
        {from: "other-inject", to: "fourth-inject"},
    ]);

    // create a network
    var container = document.getElementById("mynetwork");
    var data = {
        nodes: injects,
        edges: injectConnections,
    };
    var options = {
        autoResize: true,
        width: "100%",
        height: "100%",
        clickToUse: true,
        interaction: {
            navigationButtons:true
        }

    };
    var network = new vis.Network(container, data, options);
</script>
