{% extends 'scenario_view_stories.html' %}
{% block injects %}

    {% for inject_title, inject in story.injects.items() %}
        <div class="card" style="width: 18rem;">
            <img src="/static/assets/cyberresearch.jpg" class="card-img-top" alt="cyberresearch">
            <div class="card-body">
                <h5 class="card-title">{{ inject_title }}</h5>
                <!-- <p class="card-text">{{ inject.text }}</p> -->
                <a
                        href="{{url_for('scenarios.edit_inject', scenario_id=scenario.scenario_id, story_id=story_id, inject_slug=inject.slug)}}"
                        class="btn btn-primary">Edit inject</a>
            </div>
        </div>

    {% endfor %}

{% endblock %}