{% extends "scenario_tab_details.html" %}
{% from 'helpers/_form_helpers.html' import render_field, render_subform %}

{% block details_summary %}
    Stories
{% endblock %}

{% block details_content %}
    Here you can see all of the <b>chapters</b> that currently belong to this scenario.
    <hr/>
    <a class="btn btn-primary"></a>

    <ol id="accordion" class="sortable-list">
        <li class="card" draggable="true" title="Introduction">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0" id="story-first-chapter"
                   contenteditable="true">
                    First Chapter
                    <href class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                          aria-expanded="false"
                          aria-controls="collapseOne">
                        Show
                    </href>
                </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    {% include "tab_injects.html" %}
                </div>
            </div>
        </li>

        <li class="card" draggable="true" title="Chapter two">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    Second Chapter
                    <a class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo"
                          aria-expanded="false"
                          aria-controls="collapseTwo">
                        Show
                    </a>
                </h5>
            </div>

            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    This is where my story goes
                </div>
            </div>
        </li>


        {% for story in scenario.stories %}
            <li class="card sortable" draggable="true">
                <div class="card-header" id="heading-{{ story.story_id }}">
                    <h5 class="mb-0">
                        <href class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{ story.story_id }}"
                              aria-expanded="false"
                              aria-controls="collapseOne">
                            First Chapter
                        </href>
                    </h5>
                </div>

                <div id="collapse-{{ story.story_id }}" class="collapse" aria-labelledby="heading-{{ story.story_id }}"
                     data-parent="#accordion">
                    <div class="card-body">
                        This is where my story goes
                    </div>
                </div>
            </li>
            </ol>
        {% endfor %}
    <br>

    <script>
        //$.fn.editable.defaults.mode = 'inline';
        $('.text-editable').editable();
    </script>
{% endblock %}

