{% extends '/forms/base_form.html' %}

{% block form_body %}

    <ul class="nav nav-tabs mx-auto" id="injectTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="inject-core-tab" data-toggle="tab" href="#inject-core" role="tab"
               aria-controls="core"
               aria-selected="true">Core Information
                <i class='fas fa-info-circle' data-toggle='tooltip'
                   title='The basic information, such as the title and text of the image. The information in this tab is absolutely required for an inject.'></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="inject-condition-tab" data-toggle="tab" href="#inject-condition" role="tab"
               aria-controls="stories" aria-selected="false">Condition
                <i class='fas fa-info-circle' data-toggle='tooltip'
                   title='Depending on the value of the game variables, you might want to alter the path of the scenario. This can be done using an inject condition. A condition is evaluated before an inject is shown.'></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="inject-choices-tab" data-toggle="tab" href="#inject-choices" role="tab"
               aria-controls="inject-choices" aria-selected="false">Choices
                <i class='fas fa-info-circle' data-toggle='tooltip'
                   title='By default, all injects are a linked list. You can make the scenario more interesting, however, by giving participants multiple choices to choose from. Choices can be configured to have an effect on the scenario, such as by changing variables or leading to a different branch.'></i>

            </a>
        </li>
    </ul>
    <div class="row">
        <div class="col-sm-12">
            <div class="tab-content" id="injectTabContent">
                <div class="tab-pane fade show active" id="inject-core" role="tabpanel" aria-labelledby="core-tab">
                    <div class="embed-responsive embed-responsive-21by9">
                        <iframe class="embed-responsive-item"
                                src="{{ url_for('injects.inject_core_form', scenario_id=scenario.scenario_id, inject_slug=inject.slug) }}"></iframe>
                    </div>
                </div>
                <div class="tab-pane fade" id="inject-condition" role="tabpanel"
                     aria-labelledby="inject-condition-tab">
                    <div class="embed-responsive embed-responsive-21by9">
                        <iframe class="embed-responsive-item"
                                src="{{ url_for('injects.inject_condition_form', scenario_id=scenario.scenario_id, inject_slug=inject.slug) }}"></iframe>
                    </div>
                </div>
                <div class="tab-pane fade" id="inject-choices" role="tabpanel" aria-labelledby="inject-choices-tab">
                    <div class="embed-responsive embed-responsive-21by9">
                        <iframe class="embed-responsive-item"
                                src="{{ url_for('injects.inject_choices_form', scenario_id=scenario.scenario_id, inject_slug=inject.slug) }}"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>


{% endblock %}