{% extends '/forms/base_form.html' %}

{% block form_body %}


    <form action="{{url_for('injects.inject_choices_form',
                                       scenario_id=scenario.scenario_id, inject_slug=inject.slug)}}" method="POST"
          class="form" enctype="multipart/form-data" id="injectForm">
        {{ choices_form.csrf_token }}
        <div class="container">
            <ul>
                {% for choice_entry in choices_form.choice_forms %}
                    {% set title = choice_entry.choice_label.data %}
                    {% if not title or title == " " %}{% set title = '<i class="fas fa-plus-square"></i> New Choice' %}{% endif %}
                    <li>
                        <a class="btn btn-primary" data-toggle="collapse"
                           data-target="#choice-{{ loop.index }}-collapse"
                           aria-expanded="false">{{ title | safe }}</a>
                        <div class="collapse" id="choice-{{ loop.index }}-collapse">
                            {{ choice_entry.csrf_token }}
                            {{ render_field(choice_entry.choice_label) }}
                            {{ render_field(choice_entry.next_inject) }}
                            {{ render_subform(choice_entry.variable_changes, form_title="Variable Changes") }}
                            <a class="btn btn-danger"
                               onclick="deleteElement('{{ url_for('injects.delete_choice', scenario_id=scenario.scenario_id, inject_slug=inject.slug) }}',
                                       {choice_index: {{ loop.index0 }}})">
                                <i class="fas fa-minus-square"></i>Delete</a>
                        </div>
                    </li>

                {% endfor %}
            </ul>
            <br>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-save"></i>Save Choices
            </button>
        </div>
    </form>


{% endblock %}