{% extends 'base_game.html' %}
{% block inject %}

 <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<h3></h3>
<div class="container-fluid bg-white text-black-50">
    <p>In this scenario, you will play from the perspective of a group of cybercriminals,
        who seek financial gain by phishing the credentials of the Chief Operating Officer.</p>
    <a href="{{url_for('games.inject_page', game_id=game_id, inject_id=inject_id)}}" class="btn btn-primary">Continue</a>
</div>


{% endblock %}