{% extends 'base_game.html' %}
{% block inject %}

    <div class="container-fluid">
        <div class="row">
        <div class="col-8">
            <div class="text-left">
                <h3>Current Stats and Variables</h3>
                {% for game_var in game_variables %}
                    <h5>{{game_var}}: {{game_variables[game_var]}}</h5>
                {% endfor %}
            </div>
        </div>
        <div class="col align-content-center align-middle">
                <a href="{{url_for('games.inject_page', game_id=game_id, inject_id=inject_id)}}" class="btn btn-primary">Go back</a>
        </div>
            </div>
    </div>

{% endblock %}

