{% extends 'base.html' %}
{% block content %}

 <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div class="container-fluid bg-2 text-center text-black-50">
    <div class="card-deck">
           <div class="card">
              <div class="card-body">
                <h5 class="card-title">Phishing in the Amazon</h5>
                <p class="card-text">A very simple demo scenario.</p>
                <a href="#" class="btn btn-primary">View scenario</a>
              </div>
            </div>
        <div class="card">
              <div class="card-body">
                <h5 class="card-title">Cracking the Enigma</h5>
                <p class="card-text">A a slightly more complex scenario, built for facilitating cybersecurity awareness within groups.</p>
                <a href="#" class="btn btn-primary">View scenario</a>
              </div>
        </div>
    </div>
</div>


{% endblock %}