{% extends 'base.html' %}
{% block content %}

 <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
    <h1 class="h1">Motivation</h1>
<p>In 2000, Bruce Schneier first called humans the ``weakest link`` in cybersecurity (<a href="#footnote_schneier">[1]</a>).
        Subsequent studies have validated this claim and 20 years later, the human factor is still a major security concern <a href="#footnote1">[1]</a>.
    We now know that to reduce the human factor as a risk vector, it is not sufficient to simply educate employees on possible threats and risks <a href="#footnote_success">[3]</a>.
        Instead, an awareness for cybersecurity must be continuously present in the daily business of organizations
        \cite{Cybersecuritytraining_recommendations_for_success}.
        This can be achieved by leveraging the leadership of that organization to serve as role-models for the entire workforce \cite{Lewin_1947},
        \cite{Schein_1990}.
</p>
<p>
        Schein himself does not provide a formal definition of who counts as a ``leader`` within an organization and frequently uses the term
        synonymous with ``founders`` and ``executive leaders`` \cite{Schein_1990}, \cite{Schein_2010}. Because the aim of the research project
        is to empower key personal of an organization to both react to cybersecurity incidents and serve as role-models for overall cybersecurity
        awareness, we deliberately choose a broad definition of ``leader``. Therefore, in the scope of this research project, a ``leader`` is any
        knowledge workers who possess some measure of influence within their organization, either because they possess formal authority, depth of
        knowledge or some other source of social standing. This invariably leads to a very heterogeneous target group. Leaders cannot reasonably
        be assumed to have the prior knowledge required to benefit from advanced cybersecurity trainings targeted towards cybersecurity professionals. Neither can coursework from universities be easily adapted to leadership education, as leaders cannot be expected to have extensive time for the self-study expected from university students.
</p>
<p>
        This calls for a framework dedicated to training organizational leadership on issues of cybersecurity, so that they can serve as
        cybersecurity-aware role models within their organization. The platform developed in this research project aims to support developing
        such training frameworks by drawing on existing education approaches such as active learning and gamification. Constraints caused by the
        heterogeneity of the target group, such as potentially limited time, varying levels of background knowledge and uncertain levels of
        motivation, will be considered when developing the framework.
    </p>

<h3 class="h4">Footnotes</h3>
    <p id="footnote_schneier">
        [1]: Schneier, Bruce (2000): p. xxii
    </p>
    <p id="footnote_culture">
        [2]:
    </p>
    <p id="footnote_success">
        [3]: \cite{Cybersecuritytraining_recommendations_for_success}
    </p>
</div>

{% endblock %}