{% macro render_field(field, data, inline=False) %}

    <div class="form-group">
        {% if data %}<!--{{ field.process_data(data) }}-->{% endif %}
        {% if field.type in ["HiddenField", "CSRFTokenField"] %}
            {{ field(**kwargs)|safe }}
        {% else %}
            {% if field.type in ["BooleanField"] %}{% set inline=True %}{% endif %}
            {% if inline %}
                <div class="row">
                    <div class="col">
                        {{ field.label }}
                    </div>
                    <div class="col">
                        {{ field(**kwargs)|safe }}
                    </div>
                </div>
            {% else %}
                {{ field.label}}
                {{ field(**kwargs)|safe }}
            {% endif %}
        {% endif %}

        {% if field.errors %}
            <ul class=errors>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

{% endmacro %}


{% macro render_subform(subform, index) %}
    {# Render lap form.
This macro is intended to render both regular subforms (received from the
server) and the template form used to dynamically add more forms.

Arguments:
    - subform: Form object to render
    - index: Index of the form. For proper subforms rendered in the form loop,
             this should match `loop.index0`, and for the template it should be
             '_'
#}
    <div id="{{ subform.id }}-{{ index }}-form" class="{% if index != '_' %}subform{% else %}is-hidden{% endif %}"
         data-index="{{ index }}">
        {% if subform.csrf_token %}
            {{ subform.csrf_token() }}
        {% endif %}
        {% for field in subform %}
            {% if field.type == "FormField" %}
                {{ render_subform(field) }}
            {% elif field.type == "FieldList" %}
                {% for subfield in field %}
                    {{ render_subform(field) }}
                {% endfor %}
            {% else %}
            {{ render_field(field, class="form_control") }}
            {% endif %}
        {% endfor %}
        <a class="remove" href="#">Remove</a>
    </div>
{% endmacro %}

{% macro render_variables_modal() %}

{% endmacro %}